/dist/
/Data/*
!/Data/.gitkeep
/Logs/*
!/Logs/.gitkeep
/Cache/*
!/Cache/.gitkeep
/src/CYEnvelope/Fonts/*.otf
/src/CYEnvelope/Fonts/*.ttf
/src/**/bin/
/src/**/obj/
/tests/**/bin/
/tests/**/obj/
/*/*/*_wpftmp.csproj
